/* Ini css */


main {
    padding: 32px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;


    /* For Image icon */
    background-image: url(https://picsum.photos/200/300/?blur);
    background-size: cover;
    border-radius: 50%;
}

nav>a {
    padding-left: 32px;
    padding-right: 32px;
    border: 3px solid;

}

.banner-container {
    height: 578px;
    width: 1366px;
    border: 3px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 200px;
    width: 200px;


    /* For Image icon */
    background-size: cover;
    border-radius: 50%;

}

.profile-1 {
    background-image: url(../assets/food.jpg);
}

.profile-2 {
    background-image: url(../assets/food2.jpg);
}

.profile-3 {
    background-image: url(../assets/food3.jpg);
}

.divider {
    flex: 2;
}